@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --navbar-bg: #f8f9fa;
  --navbar-bg-none: white;
  --nav-sidebar-bg: hsla(0, 0%, 50%, 0.9);
  --border-color: #dee2e6;
  --nav-link: #707071;
  --nav-link-hover: rgba(0,0,0,0.7);
  --animation-quick: 0.2s;
  --animation-med: 0.6s;
  --animation-slow: 1s;
}

html {
  font-family: 'Noto Sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: stretch;

  overflow-x: hidden;
}

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

a.bttn {
  text-decoration: none;
}
.bttn {
  display: inline-block;
  padding: 0.5em 1.5em;
  border: 2px solid lightgray;
  border-radius: 10px;
  background: lightgray;
  color: black;
}
.bttn.bttn-outline {
  background: none;
}
.bttn:hover {
  background: gray;
  border: 2px solid gray;
  color: white;
}
.bttn.bttn-outline:hover {
  background: gray;
}



/*****   NAVBAR   *****/

.navbar {
  width: 100%;
  min-height: 3rem;
  position: sticky;
  top: 0;
  z-index: 20;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 0 1rem;

  background: var(--navbar-bg-none);
}
.navbar.scroll {
  background: var(--navbar-bg);
  box-shadow: 0 3px 2px var(--border-color);
  transition:
    background-color var(--animation-med) ease-out,
    box-shadow var(--animation-quick) ease-out;
}

.nav-sign-up,
.nav-sidebar-toggle-open,
.nav-sidebar-toggle-close,
.navbar-sidebar-bg {
  display: none;
}

.navbar a {
  text-decoration: none;
}
.nav-link {
  color: var(--nav-link);
  font-size: 1.1rem;
}
.nav-link:hover {
  color: var(--nav-link-hover);
}
.nav-brand {
  font-size: 2rem;
  font-weight: 700;
  color: black;
}

.nav-sidebar {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav-sidebar ul {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.navbar-bttns .bttn {
  padding: 0.2rem 1rem;
}

/*****   NAV-SIDEBAR   *****/

@media screen and (max-width: 640px) {

  .nav-sidebar-toggle-open {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    width: 4rem;
    height: 3rem;
    padding: 0.8rem 1rem;
    
    cursor: pointer;
  }
  .nav-sidebar-toggle-open .bar {
    display: block;
    height: 4px;
    width: 100%;

    background: black;
    border-radius: 5px;
  }

  .navbar-sidebar-bg {
    display: block;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
  
    background: var(--nav-sidebar-bg);
    opacity: 0;
    visibility: hidden;

    transition:
      opacity var(--animation-quick),
      visibility var(--animation-quick);
  }
  .navbar-sidebar-bg.open {
    opacity: 1;
    visibility: visible;
  }

  .nav-sidebar {
    position: fixed;
    min-width: 18rem;
    min-height: 100vh;
    top: 0;
    right: -100vw;
    z-index: 100;
    
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    gap: 3rem;
    padding: 0 0 1rem;
    
    background: var(--navbar-bg);
    transition: transform var(--animation-quick) ease;
  }
  .nav-sidebar.open {
    transform: translate(-100vw);
  }

  .nav-sidebar-toggle-close {
    align-self: flex-end;
    margin-right: 1rem;
    
    display: flex;
    height: 3rem;
    width: 4rem;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    color: black;
    font-size: 3rem;
  }

  .nav-sidebar ul {
    flex-direction: column;
    align-items: stretch;
    gap: 3rem;
  }

  .navbar-links {
    flex-grow: 1;
  }
  .nav-sidebar ul.navbar-bttns {
    padding: 0 1rem;
    gap: 1rem;
  }
  
  .nav-link {
    display: inline-block;
    width: 100%;
    padding: 1rem;
    padding-right: 2rem;
    text-align: right;
    
    color: var(--nav-link);
  }
  .nav-link:hover {
    background: #eee;
  }
  
  .navbar-bttns .bttn {
    width: 100%;
    padding: 1rem;
    text-align: center;
  }
}

@media screen and (min-width: 400px) and (max-width: 640px) {
  .nav-sign-up {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .nav-sign-up .bttn {
    display: inline-block;
    padding: 0.2rem 1rem;
    
  }
}



/*****   REVEALS   *****/

.navbar.reveal {
  opacity: 0;
  transition:
    opacity var(--animation-med) ease-in,
    background-color var(--animation-med) ease-out,
    box-shadow var(--animation-quick) ease-out;
}
.navbar.reveal-done {
  opacity: 1;
}
.main.reveal {
  opacity: 0;
  transform: translateY(150px);
  transition:
    opacity var(--animation-slow) ease,
    transform var(--animation-slow) ease;
}
.main.reveal-done {
  opacity: 1;
  transform: translateY(0);
}


/*****   SECTIONS   *****/

.section {
  width: 100%;
  padding: 3rem 1rem 1rem;
}

.section.hero {
  background: white;
}



@media screen and (min-width: 900px) {
  .navbar {
    padding: 0 calc((100vw - 900px)/2 + 1rem)
  }
  .section {
    width: 900px;
  }
  .section.hero {
    width: 100%;
    padding: 1rem calc((100vw - 900px)/2  + 1rem);
  }
}