@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --navbar-bg: #f8f9fa;
  --navbar-bg-none: white;
  --nav-sidebar-bg: hsla(0, 0%, 50%, 0.9);
  --border-color: #dee2e6;
  --nav-link: #707071;
  --nav-link-hover: rgba(0,0,0,0.7);
  --animation-quick: 0.2s;
  --animation-med: 0.5s;
  --animation-slow: 0.8s;
  --alert-bg: cyan;
  --footer-bg: hsl(0, 0%, 30%);
}

body {
  font-family: 'Noto Sans', sans-serif;

  margin: 3rem 0 0;
  padding: 0;
  min-height: calc(100vh - 3rem);
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: stretch;

  overflow-x: hidden;
}

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.footer {
  background: var(--footer-bg);
  color: white;
}



/*************************************************************************
 
      BUTTONS
 
*************************************************************************/

a.bttn {
  text-decoration: none;
}
.bttn {
  display: inline-block;
  padding: 0.5em 1.5em;
  border: 1px solid lightgray;
  border-radius: 5px;
  background: lightgray;
  color: black;
}
.bttn.bttn-outline {
  background: none;
}
.bttn:hover {
  background: gray;
  border: 1px solid gray;
  color: white;
}



/*************************************************************************
 
      NAVBAR
 
*************************************************************************/

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 3rem;
  z-index: 20;

  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 0 1rem;

  background: var(--navbar-bg-none);
  box-shadow: 0 3px 2px var(--border-color);
  transition:
    background-color var(--animation-med) ease-out,
    box-shadow var(--animation-quick) ease-out;
}
.navbar.no-bg {
  background: var(--navbar-bg-none);
  box-shadow: none;
}

.nav-sign-up,
.nav-sidebar-toggle-open,
.nav-sidebar-toggle-close,
.nav-sidebar-bg {
  display: none;
}

.navbar a {
  text-decoration: none;
  color: black;
}
.nav-links a {
  color: var(--nav-link);
  font-size: 1.1rem;
  display: block;
  padding: 0.5rem 1rem;
}
.nav-links a:hover {
  color: var(--nav-link-hover);
}
.nav-brand {
  font-size: 2rem;
  font-weight: 700;
  color: black;
  padding-right: 1rem;
}
.nav-brand:hover {
  color: rgb(48, 48, 48);
}

.nav-sidebar {
  flex-grow: 1;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}
.nav-sidebar>ul {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-bttns {
  gap: 1rem;
}
.navbar .bttn {
  padding: 0.2rem 1rem;
}

/* nav sidebar */
@media screen and (max-width: 640px) {

  .nav-sidebar-toggle-open {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    width: 4rem;
    height: 3rem;
    padding: 0.8rem 1rem;
    margin-right: -1rem;
    
    cursor: pointer;
  }
  .nav-sidebar-toggle-open .bar {
    display: block;
    height: 4px;
    width: 100%;

    background: black;
    border-radius: 5px;
  }

  .nav-sidebar-bg {
    display: block;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 90;
  
    background: var(--nav-sidebar-bg);
    opacity: 0;
    visibility: hidden;

    transition:
      opacity var(--animation-quick),
      visibility var(--animation-quick);
  }
  .nav-sidebar-bg.open {
    opacity: 1;
    visibility: visible;
  }

  .nav-sidebar {
    position: fixed;
    min-width: 18rem;
    min-height: 100vh;
    top: 0;
    left: 100vw;
    z-index: 100;
    
    flex-direction: column;
    justify-content: flex-start;
    gap: 3rem;
    
    background: var(--navbar-bg);
    transition: transform var(--animation-quick) ease;
  }
  .nav-sidebar.open {
    transform: translateX(-100%);
  }

  .nav-sidebar-toggle-close {
    align-self: flex-end;
    
    display: grid;
    place-content: center;
    height: 3rem;
    width: 4rem;

    cursor: pointer;
    color: black;
    font-size: 3rem;
  }

  .nav-sidebar ul {
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
  }
  
  .nav-sidebar .nav-links {
    flex-grow: 1;
  }
  .nav-sidebar .big-gap {
    gap: 3rem;
  }
  .nav-sidebar .nav-bttns {
    padding: 0 2rem 1rem;
  }
  
  .nav-links a {
    display: inline-block;
    width: 100%;
    padding: 1rem;
    padding-right: 2rem;
    text-align: right;
    
    color: var(--nav-link);
  }
  .nav-links a:hover {
    background: #eee;
  }
  
  .nav-bttns .bttn {
    width: 100%;
    padding: 1rem;
    text-align: center;
  }
}

/* condensed sidebar */
@media screen and (max-width: 640px) and (max-height: 550px) {
  .nav-sidebar,
  .nav-sidebar .nav-links {
    gap: 0;
  }
  .nav-sidebar .nav-bttns {
    gap: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .nav-bttns .bttn {
    padding: 0.3rem;
  }
}

/* sign-up button in nav near menu */
@media screen and (max-width: 640px) and (min-width: 400px) {
  .nav-sign-up {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}



/*************************************************************************

      REVEALS

*************************************************************************/

.hide {
  opacity: 0;
}
.reveal {
  transition: opacity var(--animation-slow) ease-in;
  opacity: 1;
}
.slide-reveal {
  opacity: 0;
  transform: translateY(150px);
  transition:
    opacity var(--animation-slow) ease-in,
    transform var(--animation-slow) ease-out;
}
.done {
  opacity: 1;
  transform: translateY(0);
}



/*************************************************************************

      ALERTS

*************************************************************************/

.alert {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0 1rem;
  z-index: 10;
  transform: translateY(-100%);
  
  display: grid;
  place-items: center;
  
  opacity: 0;
  transition:
    opacity var(--animation-med) ease,
    transform var(--animation-med) ease;  
}
.alert-show {
  opacity: 1;
  transform: translateY(3.5rem);
}

.alert-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 30rem;
  padding: 0.5rem 0 0.5rem 1.5rem;
  gap: 1rem;

  background: var(--alert-bg);
  border-radius: 5px;
}

.alert ul {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.alert-close {
  cursor: pointer;
  font-size: 2rem;
  text-align: center;
  width: 3rem;
  align-self: flex-start;
}

@media screen and (max-width: 640px) {
  .alert-content {
    min-width: 1rem;
    width: 100%;
  }
}



/*************************************************************************

      SECTIONS

*************************************************************************/

.section {
  width: 100%;
  padding: 1rem;
}

.img-placeholder {
  height: 200px;
  width: 300px;
}

@media screen and (min-width: 900px) {
  .navbar {
    padding: 0 calc((100vw - 900px)/2 + 1rem)
  }
  .section {
    padding: 1rem calc((100vw - 900px)/2  + 1rem);
  }
}



/*************************************************************************

      FORMS

*************************************************************************/

.form {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  background-color: #f8f9fa;
  border-radius: 5px;
  padding: 0.3rem;
}
.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 0.3rem;
}
.form-field {
  width: auto;
  flex-grow: 1;
}
.form-nowrap {
  flex-grow: 10;
  flex-wrap: nowrap;
}
.form-hide {
  display: none;
}





/*************************************************************************

      DROPDOWN

*************************************************************************/

.drpdwn~.nav-bttns {
  display: none;
}

.nav-sidebar .no-display {
  display: none;
}

.nav-links {
  z-index: 50;
}
.drpdwn {
  padding-left: 1rem;
  flex-grow: 1;
  flex-basis: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  z-index: 40;
}
.drpdwn::before {
  content: "";
  display: block;
  width: 12rem;
  height: 3rem;
  background: var(--navbar-bg-none);
  position: absolute;
  top: 0;
  right: -1rem;
  z-index: 30;
}
.drpdwn-close {
  content: "";
  display: block;
  visibility: hidden;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  right: -1rem;
  z-index: 15;
  opacity: 0;
}
.drpdwn .bttn {
  cursor: pointer;
  max-width: fit-content;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  z-index: 50;
  user-select: none;
}
.drpdwn-menu {
  background: var(--navbar-bg-none);
  text-align: center;
  display: block;
  width: 10rem;
  position: absolute;
  top: 3rem;
  right: 0;
  z-index: 20;

  box-shadow: 0 0 2px 3px var(--border-color);

  list-style: none;
  padding: 0;
  margin: 0;
}
.border-rad {
  border-radius: 0 0 10px 10px;
}
.drpdwn-item {
  display: block;
  padding: 1rem 1rem;
  /* margin: 0.5rem; */
}
.drpdwn-item:hover {
  background: lightgray;
}

@media screen and (max-width: 640px) {
  .drpdwn~.nav-bttns {
    display: flex;
  }
  .drpdwn {
    display: none;
  }
}
