@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --navbar-bg: #f8f9fa;
  --navbar-bg-none: white;
  --nav-sidebar-bg: hsla(0, 0%, 50%, 0.9);
  --border-color: #dee2e6;
  --nav-link: #707071;
  --nav-link-hover: rgba(0,0,0,0.7);
  --animation-quick: 0.2s;
  --animation-med: 0.5s;
  --animation-slow: 0.8s;
  --alert-bg: cyan;
  --footer-bg: hsl(0, 0%, 30%);
}

body {
  font-family: 'Noto Sans', sans-serif;

  margin: 3rem 0 0;
  padding: 0;
  min-height: calc(100vh - 3rem);
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: stretch;

  overflow-x: hidden;
}

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
  padding: 2rem 0 4rem;
}

.section {
  width: 100%;
  max-width: 600px;
  padding: 1rem;
}

.centered {
  flex-grow: 1;
  display: grid;
  place-content: center;
  place-items: center;
  gap: 2rem 2rem;
}

.title {
  font-size: 2rem;
  text-align: center;
}

.footer {
  background: var(--footer-bg);
  color: white;
}



/*************************************************************************

      ALERTS

*************************************************************************/

.alert {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0 1rem;
  z-index: 10;
  transform: translateY(-100%);
  
  display: grid;
  place-items: center;
  
  opacity: 0;
  transition:
    opacity var(--animation-med) ease,
    transform var(--animation-med) ease;  
}
.alert-show {
  opacity: 1;
  transform: translateY(3.5rem);
}

.alert-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 30rem;
  padding: 0.5rem 0 0.5rem 1.5rem;
  gap: 1rem;

  background: #f5f5ff;
  box-shadow: 0 0 5px var(--border-color);
  border: 1px solid #dde;
  border-radius: 0.25rem;
}

.alert ul {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.alert-close {
  cursor: pointer;
  font-size: 2rem;
  text-align: center;
  width: 3rem;
  align-self: flex-start;
}

@media screen and (max-width: 600px) {
  .alert-content {
    min-width: 1rem;
    width: 100%;
  }
}



/*************************************************************************

      FORMS

*************************************************************************/

.form,
.form-row,
.form-col {
  display: flex;
  gap: 0.3rem;
}
.form {
  flex-direction: column;
  background-color: #f8f9fa;
  border-radius: 5px;
  padding: 0.3rem;
}
.form-row {
  align-items: center;
  flex-wrap: wrap;
}
.form-col {
  flex-direction: column;
  align-items: flex-start;
}
.form-field {
  width: auto;
  flex-grow: 1;
}
.form-nowrap {
  flex-grow: 10;
  flex-wrap: nowrap;
}
.form-hide {
  display: none;
}
.form-error {
  color: red;
}



/*************************************************************************

      HOME

*************************************************************************/

.group {
  border-bottom: 1px solid #555;
  color: #444;
}
.group-unnamed:not(.active) {
  color: #ccc;
  border-color: #eee;
  transition: all 0.5s ease;
}

.wallet {
  border-top: 1px solid white;
}
.wallet + .wallet {
  border-color: #aaa;
}

.group-title,
.wallet-title {
  display: flex;
  align-items: center;
  border-radius: 3px;
  padding: 0.5rem;
  transition:
    background-color 0.2s ease,
    color 0.5s ease;
}
.group-title {  
  height: 2.5rem;
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 3px;
}
.wallet-title {
  flex-grow: 1;
  height: 2rem;
  margin: 3px;
  justify-content: space-between;
}
.group-title:not(.no-hover),
.wallet-title:not(.no-hover) {
  cursor: pointer;
}
.group-title:not(.no-hover):hover,
.wallet-title:not(.no-hover):hover {
  background-color: #eee;
}
.group.active .group-title:not(.no-hover),
.wallet-title:not(.no-hover).active {
  background-color: #ddd;
}

.wallet-info {
  font-size: 0.9rem;
  display: grid;
  grid-template-columns: max-content max-content;
  justify-content: end;
  row-gap: 0.5rem;
  margin-bottom: 1.5rem;
  margin-right: 3px;
  padding-right: 0.5rem;
}

.wallet-amount {
  text-align: right;
  padding-left: 3rem;
}
.wallet-amount.income {color: green;}
.wallet-amount.spending {color: red;}
.wallet-total {
  border-top: 1px solid #aaa;
  padding-top: 0.3rem;
}



/*************************************************************************

      WALLETS

*************************************************************************/

#AddWalletForm .form {
  margin-top: 0.5rem;
}

.group-greyed-out {
  color: #6c757d;
  font-style: italic;
}

.w-header-bttns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.w-header-bttn {
  display: flex;
  align-items: center;
  color: #555;
  background-color: white;
  border: none;
  box-shadow: none;
  padding: 0.5rem 1rem;
  border-radius: 3px;
}
.w-header-bttn.active {background-color: #ddd;}
.w-header-bttn:hover {background-color: #eee;}
.w-header-bttn:active {background-color: #ddd;}

.w-header-bttn::after {
  display: inline-block;
  content: "";
  width: 1.25rem;
  height: 1.25rem;
  margin-left: 0.5rem;
  transition: all 0.3s ease;
}

.w-header-bttn.add-new::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.w-header-bttn.add-new.active::after {transform: rotate(-180deg);}

.w-header-bttn.edit-switch::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' fill='%23212529' %3E%3C!--! Font Awesome Pro 6.1.1 by %40fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons  Inc. --%3E%3Cpath d='M490.3 40.4C512.2 62.27 512.2 97.73 490.3 119.6L460.3 149.7L362.3 51.72L392.4 21.66C414.3-.2135 449.7-.2135 471.6 21.66L490.3 40.4zM172.4 241.7L339.7 74.34L437.7 172.3L270.3 339.6C264.2 345.8 256.7 350.4 248.4 353.2L159.6 382.8C150.1 385.6 141.5 383.4 135 376.1C128.6 370.5 126.4 361 129.2 352.4L158.8 263.6C161.6 255.3 166.2 247.8 172.4 241.7V241.7zM192 63.1C209.7 63.1 224 78.33 224 95.1C224 113.7 209.7 127.1 192 127.1H96C78.33 127.1 64 142.3 64 159.1V416C64 433.7 78.33 448 96 448H352C369.7 448 384 433.7 384 416V319.1C384 302.3 398.3 287.1 416 287.1C433.7 287.1 448 302.3 448 319.1V416C448 469 405 512 352 512H96C42.98 512 0 469 0 416V159.1C0 106.1 42.98 63.1 96 63.1H192z'/%3E%3C/svg%3E");
}

.group.flex,
.wallet.flex {
  display: flex;
  align-items: center;
}

.edit-btn {
  display: block;
  height: 2rem;
  width: 0rem;
  cursor: pointer;
  border-radius: 3px;
  background-image: url("data:image/svg+xml, %3Csvg width='20' height='20' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3C!--! Font Awesome Pro 6.1.1 by %40fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons  Inc. --%3E%3Cpath fill='%23212529' d='M362.7 19.32C387.7-5.678 428.3-5.678 453.3 19.32L492.7 58.75C517.7 83.74 517.7 124.3 492.7 149.3L444.3 197.7L314.3 67.72L362.7 19.32zM421.7 220.3L188.5 453.4C178.1 463.8 165.2 471.5 151.1 475.6L30.77 511C22.35 513.5 13.24 511.2 7.03 504.1C.8198 498.8-1.502 489.7 .976 481.2L36.37 360.9C40.53 346.8 48.16 333.9 58.57 323.5L291.7 90.34L421.7 220.3z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
}
.edit-btn:hover {background-color: #eee;}
.edit-btn:active {background-color: #ddd;}

.show-btn {
  visibility: visible;
  opacity: 1;
  width: 2rem;
  margin: 0 0.5rem;
}



/*************************************************************************

      MODALS

*************************************************************************/

.modal-wrapper {
  display: grid;
  place-content: center;
  position: fixed;
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  background-color: rgba(100, 100, 100, 0.2);
  z-index: 500;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
}

.modal-show {
  visibility: visible;
  opacity: 1;
}

.modal-content {
  z-index: 600;
  padding: 1rem 2rem;
  gap: 1.5rem;
}

.modal-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
}

.modal-close-btn {
  display: inline-block;
  width: 3rem;
  height: auto;
  margin-right: -1rem;
  border-radius: 3px;
  font-size: 2rem;
  text-align: center;
  cursor: pointer;
}
.modal-close-btn:hover {background-color: #eee;}
.modal-close-btn:active {background-color: #ddd;}

.modal-body {
  display: grid;
  grid-template-columns: min-content auto;
  column-gap: 1rem;
  row-gap: 2rem;
}

.modal-body form {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}



/*************************************************************************

      HISTORY

*************************************************************************/

.history-entry {
  display: grid;
  align-items: center;
  row-gap: 0.5rem;
  padding: 1rem 0.5rem;
}
.history-entry:not(:first-of-type) {
  border-top: 1px solid #ccc;
}

.history-body {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  width: fit-content;
}
.history-body div {
  display: inline-block;
  padding: 0 0.5rem;
  border-radius: 3px;
}
.history-body div.nosidepad {padding: 0;}

.action-info     {background-color: #eef;}
.action-spending {background-color: #fdd;}
.action-income   {background-color: #dfd;}
.action-transfer {background-color: #eee;}

.action-spending-amount {color: red;}
.action-spending-amount::before {content: "-";}

.action-income-amount {color: green;}
.action-income-amount::before {content: "+";}

.history-wallet {border: 1px solid #eee;}
.history-wallet.deleted {
  display: flex;
  align-items: center;
  font-size: 0.7rem;
  color: red;
}

.history-group {
  color: #888;
  font-size: 0.8rem;
  margin-right: 0.5rem;
}

.history-description {
  font-style: italic;
  color: #444;
}

@media screen and (min-width: 600px) {
  .history-entry {
    grid-template-columns: 3fr 5fr;
    justify-content: center;
    column-gap: 2rem;
  }
  .grid-center {
    justify-self: center;
  }
}



/*************************************************************************

      ACCOUNT

*************************************************************************/

.setting {
  display: grid;
  row-gap: 1rem;
  column-gap: 2rem;
  padding: 2rem 1rem;
}
.setting:not(:first-child) {
  border-top: 1px solid #ccc;
}

.setting-title {
  font-size: 1.3rem;
  color: #555;
}

.setting-body {
  display: grid;
  align-items: center;
  justify-items: start;
}

.change-btn {
  background-color: #ddf;
  color: rgb(60, 60, 255);
  font-weight: lighter;
  border: none;
  border-radius: 5px;
  margin: 0;
  padding: 0.3rem 0.5rem;
  transition: all 0.3s ease;
}
.change-btn:hover {background-color: #eef;}
.change-btn:active {background-color: #bbf;}

.acc-info {
  font-size: 1.2rem;
  font-weight: bold;
}

.width-auto {width: auto;}
.margin-top {margin-top: 1rem;}
.align-self-center {align-self: center;}

@media screen and (min-width: 450px) {
  .setting {
    grid-template-columns: 2fr 5fr;
  }
}



/*************************************************************************

      REPORTS

*************************************************************************/

.report {
  border-radius: 4px;
  border: 1px solid #ccc;
}

.report-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  background-color: #eee;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.report > .report-title {
  background-color: #fff;
}

.report-title.active {
  background-color: #eee;
}
.report > .report-title.active {
  background-color: #ddd;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.report-title:hover,
.report > .report-title:hover {
  background-color: #f3f3f3;
}

.report > .report-title::before,
.report-title::after {
  display: inline-block;
  content: "";
  width: 1.25rem;
  height: 1.25rem;
}
.report-title::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529' %3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  transition: all 0.2s ease;
}
.report-title.active::after {
  transform: rotate(-180deg);
}

.report-content {
  padding: 0.5rem;
  display: grid;
  row-gap: 0.5rem;
}

.report-time {
  display: grid;
  grid-template-columns: max-content auto;
  gap: 0.5rem 1rem;
}

.generate-new-bttn-link {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.generate-new-bttn-link a {
  text-decoration: none;
}
.generate-new-bttn {
  border: 1px solid #ddd;
}
.generate-new-bttn::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' %3E%3C!--! Font Awesome Pro 6.1.1 by %40fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons  Inc. --%3E%3Cpath fill='%23212529' d='M0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256zM256 368C269.3 368 280 357.3 280 344V280H344C357.3 280 368 269.3 368 256C368 242.7 357.3 232 344 232H280V168C280 154.7 269.3 144 256 144C242.7 144 232 154.7 232 168V232H168C154.7 232 144 242.7 144 256C144 269.3 154.7 280 168 280H232V344C232 357.3 242.7 368 256 368z'/%3E%3C/svg%3E");
}
.hide-bttn {display: none;}
