html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
  }

body {
    display: flex;
    flex-direction: column;
}

main {
    width: 700px;
    margin: auto;
    flex-grow: 1;
}

h3 {
    color: grey;
    margin: 1rem;
}

h3, h4 {
    text-align: center;
}

header ul {
    list-style-type: none;
}

footer {    
    margin: 0, auto;
    padding: 5px 0;
    background-color: #f8f9fa;
    border-top: 1px solid #dee2e6;
}

.form-select {
display: flex;
margin-bottom: 5px;
}

label {
margin: 0;
cursor: pointer;
}

.btn.focus {
box-shadow: none;
}