{% extends "base.html" %}

{% block title %} | History{% endblock %}

{% block main %}

<div class="section title">History</div>

<div class="section">
  {% for entry in history %}
  <div class="history-entry">

    <div class="history-body grid-center">
      <div class="nosidepad">{{ entry.local_time[:10] }}</div>
      <div class="nosidepad">{{ entry.local_time[10:16] }}</div>
    </div>

    <div class="history-body">

      <div {% if entry.action == "Spending" %} class="action-spending" {% elif entry.action == "Income" %} class="action-income" {% elif entry.action == "Transfer" %} class="action-transfer" {% else %} class="action-info" {% endif %}>{{ entry.action }}</div>
      
      {% if entry.source %}
      {% if wallets[entry.source] %}
      <div class="history-wallet">
        {% if wallets[entry.source].group != "" %}
        <span class="history-group">{{ wallets[entry.source].group }}</span>
        {% endif %}
        {{ wallets[entry.source].name }}
      </div>
      {% else %}
      <div class="history-wallet deleted">DELETED</div>
      {% endif %}
      {% endif %}
      
      {% if entry.source and entry.destination %}
      <div class="nosidepad">&rarr;</div>
      {% endif %}
      
      {% if entry.destination %}
      {% if wallets[entry.destination] %}
      <div class="history-wallet">
        {% if wallets[entry.destination].group != "" %}
        <span class="history-group">{{ wallets[entry.destination].group }}</span>
        {% endif %}
        {{ wallets[entry.destination].name }}
      </div>
      {% else %}
      <div class="history-wallet deleted">DELETED</div>
      {% endif %}
      {% endif %}
      
      {% if entry.amount %}
      <div {% if entry.action == "Spending" %} class="nosidepad action-spending-amount" {% elif entry.action == "Income" %} class="nosidepad action-income-amount"{% else %} class="nosidepad"{% endif %}>{{ entry.amount | num }}</div>
      {% endif %}
      
      {% if entry.description %}
      <div class="nosidepad history-description">{{ entry.description }}</div>
      {% endif %}

    </div>
    
  </div>
  {% endfor %}
</div>

{% endblock %}
