{% extends "base.html" %}

{% block title %} | History{% endblock %}

{% block main %}
<div class="table-responsive">
  <table class="table">
    <thead>
      <th>Date</th>
      <th>Time</th>
      <th>Action</th>
      <th>From</th>
      <th>To</th>
      <th>Amount</th>
      <th>Description</th>
    </thead>
    <tbody>
      {% for row in history %}
      <tr>
        <td>{{ row.local_time[:10] }}</td>
        <td>{{ row.local_time[10:16] }}</td>
        <td>{{ row.action }}</td>
        {% if wallets[row.source] %}
        <td>{{ wallets[row.source].name }}</td>
        {% else %}
        <td></td>
        {% endif %}
        {% if wallets[row.destination] %}
        <td>{{ wallets[row.destination].name }}</td>
        {% else %}
        <td></td>
        {% endif %}
        <td>{{ row.amount or ''}}</td>
        <td>{{ row.description or '' }}</td>
      </tr>
      {% endfor %}
    </tbody>    
  </table>
</div>
{% endblock %}
