{% extends "base.html" %}


{% block title %}
	| Home
{% endblock %}


{% block main %}

  <div>
    {% if nw == True %}
      {% include "forms/addwallet_h.html" %}
    {% else %}
      {% include "mainform.html" %}
    {% endif %}
    <hr>
    <br>
  </div>


  {% if info %}
  <div>
    <h3>This month</h3>
    <div>
      <table class="table">
        <thead>
          <tr>
            <th>Title</th>
            <th>Data</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Report</td>
            <td>{{ info['report'] }}</td>
          </tr>
          <tr>
            <td>Stats</td>
            <td>{{ info['stats'] }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  {% endif %}

{% endblock %}
