{% extends "base.html" %}

{% block title %} | Home{% endblock %}

{% block main %}

<div name='form'>
  {% include "forms/mainform.html" %}
</div>

{% if wallets %}
<div name='wallets'>

  <div name='balance' class='report'>
    <h6>Balance</h6>
    {% for group in wallets['groups'] %}
    <table class='report-tb'>
      <caption>{{ group or ' ' }}</caption>
      {% for w_id in wallets['groups'][group] %}
      <tr>
        <td>{{ wallets['groups'][group][w_id]['name'] }}:</td>
        <td>{{ wallets['groups'][group][w_id]['balance'] | num }}</td>
      </tr>
      {% endfor %}
      <tr>
        <th>sum:</th>
        <th>{{ wallets['sums'][group]['balance_sum'] | num }}</th>
      </tr>
    </table>
    {% endfor %}
  </div>

  <div name='initial' class='report'>
    <h6>Initial</h6>
    {% for group in wallets['groups'] %}
    <table class='report-tb'>
      <caption>{{ group or ' ' }}</caption>
      {% for w_id in wallets['groups'][group] %}
      <tr>
        <td>{{ wallets['groups'][group][w_id]['name'] }}:</td>
        <td>{{ wallets['groups'][group][w_id]['initial'] | num }}</td> 
      </tr>
      {% endfor %}
      <tr>
        <th>sum:</th>
        <th>{{ wallets['sums'][group]['initial_sum'] | num }}</th>
      </tr>
    </table>
    {% endfor %}
  </div>

  <div name='income' class='report'>
    <h6>Income</h6>
    {% for group in wallets['groups'] %}
    <table class='report-tb'>
      <caption>{{ group or ' ' }}</caption>
      {% for w_id in wallets['groups'][group] %}
      <tr>
        <td>{{ wallets['groups'][group][w_id]['name'] }}:</td>
        <td>{{ wallets['groups'][group][w_id]['income'] | num }}</td>
      </tr>
      {% endfor %}
      <tr>
        <th>sum:</th>
        <th>{{ wallets['sums'][group]['income_sum'] | num }}</th>
      </tr>
    </table>
    {% endfor %}
  </div>
  
  <div name='spendings' class='report'>
    <h6>Spendings</h6>
    {% for group in wallets['groups'] %}
    <table class='report-tb'>
      <caption>{{ group or ' ' }}</caption>
      {% for w_id in wallets['groups'][group] %}
      <tr>
        <td>{{ wallets['groups'][group][w_id]['name'] }}:</td>
        <td>{{ wallets['groups'][group][w_id]['spendings'] | num}}</td>
      </tr>
      {% endfor %}
      <tr>
        <th>sum:</th>
        <th>{{ wallets['sums'][group]['spendings_sum'] | num }}</th>
      </tr>
    </table>
    {% endfor %}
  </div>

  <div name='transfers' class='report'>
    <h6>Transfers</h6>
    {% for group in wallets['groups'] %}
    <table class='report-tb'>
      <caption>{{ group or ' ' }}</caption>
      {% for w_id in wallets['groups'][group] %}
      <tr>
        <td>{{ wallets['groups'][group][w_id]['name'] }}:</td>
        <td>{{ wallets['groups'][group][w_id]['transfers'] | num }}</td>
      </tr>
      {% endfor %}
    </table>
    {% endfor %}
  </div>

</div>
{% endif %}

{% endblock %}
