{% extends "layout.html" %}


{% block title %}
	| Home
{% endblock %}


{% block main %}

	<h3>Hello</h3>
  
  <hr>
  <h4>Spendings</h4>
  <div>
    <form name="spending" id="f_spend" action="" method="POST">
      {{ forms.sp.hidden_tag() }}

      {{ forms.sp.source_sp.label(class_="form-label") }}
      {{ forms.sp.source_sp(class_="form-control") }}
      {% for error in forms.sp.source_sp.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}<br>
      
      {{ forms.sp.amount_sp.label(class_="form-label") }}
      {{ forms.sp.amount_sp(class_="form-control") }}
      {% for error in forms.sp.amount_sp.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}<br>

      {{ forms.sp.description_sp.label(class_="form-label") }}
      {{ forms.sp.description_sp(class_="form-control") }}
      {% for error in forms.sp.description_sp.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}<br>

      {{ forms.sp.submit_sp(class_="btn btn-primary") }}
    </form>
  </div>

  <hr>
  <h4>Income</h4>
  <div>
    <form name="income" id="f_income" action="" method="POST">
      {{ forms.sp.hidden_tag() }}

      {{ forms.inc.destination_inc.label() }}
      {{ forms.inc.destination_inc() }}

      {{ forms.inc.amount_inc.label() }}
      {{ forms.inc.amount_inc() }}

      {{ forms.inc.description_inc.label() }}      
      {{ forms.inc.description_inc() }}

      {{ forms.inc.submit_inc() }}
    </form>
  </div>

  <hr>
  <h4>Transfer</h4>
  <div>
    <form name="transfer" action="" method="POST">
      {{ forms.tr.description.label() }}
      {{ forms.tr.description() }}
      {{ forms.tr.submit() }}
    </form>
  </div>

{% endblock %}
