{% extends "layout.html" %}


{% block title %}
	| Home
{% endblock %}


{% block main %}

	<h3>Hello</h3>
  
  <hr>
  <h4>Spendings</h4>
  <div>
    <form name="spending" id="f_spend" action="" method="POST">
      
      <div class="form-row align-items-center">

        {{ forms.sp.hidden_tag() }}
        
        <div class="col-auto">
          {{ forms.sp.sp_source(class_="form-control") }}
          {% for error in forms.sp.sp_source.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </div>

        <div class="col-auto">
          {{ forms.sp.sp_amount(class_="form-control") }}
          {% for error in forms.sp.sp_amount.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </div>

        <div class="col-auto">
          {{ forms.sp.sp_description(class_="form-control") }}
          {% for error in forms.sp.sp_description.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </div>

        <div class="col-auto">
          {{ forms.sp.sp_submit(class_="btn btn-primary") }}
        </div>

      </div>
    </form>
  </div>

  <hr>
  <h4>Income</h4>
  <div>
    <form name="income" id="f_income" action="" method="POST">
      {{ forms.sp.hidden_tag() }}

      {{ forms.inc.inc_destination() }}

      {{ forms.inc.inc_amount() }}

      {{ forms.inc.inc_description() }}

      {{ forms.inc.inc_submit() }}
    </form>
  </div>

  <hr>
  <h4>Transfer</h4>
  <div>
    <form name="transfer" action="" method="POST">
      {{ forms.sp.hidden_tag() }}
      
      From {{ forms.tr.tr_source() }}

      To {{ forms.tr.tr_destination() }}

      {{ forms.tr.tr_amount() }}
      
      {{ forms.tr.tr_description() }}
      
      {{ forms.tr.tr_submit() }}
    </form>
  </div>

{% endblock %}
