<form name="mainform" action="" method="POST">  
  {{ mf.hidden_tag() }}
  
  <div class="btn-group btn-group-toggle form-select" role="group" data-toggle="buttons" aria-label="select-form">
    {% for subfield in mf.action %}
      <label class="btn btn-secondary">
        {{ subfield }}{{ subfield.label }}
      </label>
    {% endfor %}
  </div>
  <!-- (style="display: none;") -->

  <!-- <div class="btn-group btn-group-toggle form-select" role="group" data-toggle="buttons" aria-label="select-form">
    {% for subfield in mf.action %}
      {{ subfield.label(class_="btn btn-primary") }}
    {% endfor %}
  </div> -->
  
  <div>
    {{ mf.source.label }}
    {{ mf.source }}

    {{ mf.destination.label }}
    {{ mf.destination }}

    {{ mf.amount }}

    {{ mf.description }}

    {{ mf.submit }}
  </div>
  
</form>

<script>
  
  // add leading zeros
  function lz(n) {
    if (n <= 9) {
      return "0" + n;
    }
    return n;
  }
  

  // add leading zeros to miliseconds
  function lzms(n) {
    if (n <= 9) {
      return "00" + n;
    }
    else if (n <= 99) {
      return "0" + n;
    }
    return n;
  }  
  

  // input timestamp on form submit
  document.forms['mainform'].addEventListener('submit', function() {
    let date = new Date()
    document.forms['mainform'].timestamp.value = date.getFullYear() + "-" + 
                                                 lz(date.getMonth() + 1) + "-" + 
                                                 lz(date.getDate()) + "_" +
                                                 lz(date.getHours()) + "-" + 
                                                 lz(date.getMinutes()) + "-" + 
                                                 lz(date.getSeconds()) + "_" +
                                                 lzms(date.getMilliseconds());    
  });


  // show/hide form fields
  document.forms['mainform'].addEventListener('click', function() {
    let select = document.forms['mainform'].action;
    if (select.value == 'spending') {
      document.forms['mainform'].source.hidden = false;
      document.forms['mainform'].source.labels[0].hidden = false;
      document.forms['mainform'].destination.hidden = true;
      document.forms['mainform'].destination.labels[0].hidden = true;
    }
    else if (select.value == 'income') {
      document.forms['mainform'].source.hidden = true;
      document.forms['mainform'].source.labels[0].hidden = true;
      document.forms['mainform'].destination.hidden = false;
      document.forms['mainform'].destination.labels[0].hidden = false;
    }
    else { // 'transfer'
      document.forms['mainform'].source.hidden = false;
      document.forms['mainform'].source.labels[0].hidden = false;
      document.forms['mainform'].destination.hidden = false;
      document.forms['mainform'].destination.labels[0].hidden = false;
    }
  });

  // select 'spending' as default
  document.forms['mainform'].action.item(0).click();

</script>
