{% extends "base.html" %}

{% block title %} | Reports{% endblock %}

{% block main %}
<div>
  {% for report in reports %}
  <div name='rep-{{ report.id}}' style='border: 1px solid gray;'>
    
    <button class='btn btn-secondary' style='width: 100%;' data-bs-toggle='collapse' data-bs-target='#rep-{{ report.id }}'>
      Show Report {{ report.id }}
    </button>
    
    <div id='rep-{{ report.id }}' class='collapse'>
      <p>{{ report.data['wallets'] }}</p>
      <p>{{ report.data['groups'] }}</p>
      <p>{{ report.data['sums'] }}</p>
      <p>{{ report.data['history'] }}</p>
    </div>

  </div>
  {% endfor %}
</div>

<div>
  <a href="{{ url_for('reports', username=current_user.username, newrep='yes') }}"">
    <button class='btn btn-outline-primary'>Create new report</button>
  </a>
</div>

<div>
  <button id='nrbtn' class='btn btn-outline-primary'>
    New report AJAX
  </button>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {

    var httpRequest;
    let nrbtn = document.querySelector('#nrbtn')

    // AJAX
    nrbtn.addEventListener('click', function() {
      httpRequest = new XMLHttpRequest();
      if (!httpRequest) {
        alert('Error: no httpRequest');
        return false;
      }
      httpRequest.onreadystatechange = function() {
        if (httpRequest.readyState === XMLHttpRequest.DONE) {
          if (httpRequest.status === 200) {
            // console.log(httpRequest.response);
            // document.querySelector('#newreport').innerHTML = httpRequest.response;
            nrbtn.insertAdjacentHTML('afterEnd', '<div class="report">' + httpRequest.response + '</div>');
          } else {
            alert('Error: problem with request');
          }
        }
      };
      httpRequest.open('GET', '/test');
      httpRequest.send();
    });

    // nrbtn.click()
  
  });
</script>
{% endblock %}
