{% extends "base.html" %}

{% block title %} | Wallets{% endblock %}

{% block main %}

<div name='form'>
  {% include "forms/addwalletform.html" %}
</div>

{% if wallets['groups'] %}
<div name='wallets-list' class="table-responsive">
  <h3>Wallets</h3>
  {% for group in wallets['groups'] %}
  <table class='table caption-top'>
    <caption>{{ group }}</caption>
    <tbody>
      {% for w in wallets['groups'][group] %}
      <tr>
        <td>{{ wallets['groups'][group][w]['name'] }}</td><td>{{ wallets['groups'][group][w]['balance'] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endfor %}
</div>
{% endif %}

{% endblock %}
