{% extends "base.html" %}

{% block title %}
	| Log-In
{% endblock %}

{% block head %}
<link href="/static/auth.css" rel="stylesheet">
{% endblock %}

{% block main %}

<div class="section">

  <form class="form-wrap" action="" method="POST" novalidate>
    
    <h3>Log-in</h3>

    {{ form.hidden_tag() }}

    <div class="form">
          
      <div class="form-vert">
        <!-- {{ form.username.label(class_="form-label") }}<br> -->
        {{ form.username(class_="form-control") }}
        {% for error in form.username.errors %}
          <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </div>
      
      <div class="form-vert">
        <!-- {{ form.password.label(class_="form-label") }}<br> -->
        {{ form.password(class_="form-control") }}
        {% for error in form.password.errors %}
          <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </div>
          
      <div class="remember">
        {{ form.remember_me(class_="") }} {{ form.remember_me.label(class_="") }}
      </div>
      
      <div class="form-vert">{{ form.submit(class_="btn btn-primary") }}</div>

    </div>

  </form>

</div>

{% endblock %}
