{% extends "base.html" %}

{% block title %}
	| Log-In
{% endblock %}

{% block head %}
<link href="/static/auth.css" rel="stylesheet">
{% endblock %}

{% block main %}

<div class="section">
  <h3>Log-in</h3>
  <form class="form" name="loginform" action="" method="POST" novalidate>
    <div>
      {{ form.username(class_="form-control") }}
      {% for error in form.username.errors %}<div style="color: red;">[{{ error }}]</div>{% endfor %}
    </div>
    <div>
      {{ form.password(class_="form-control") }}
      {% for error in form.password.errors %}<div style="color: red;">[{{ error }}]</div>{% endfor %}
    </div>
    <div>
      {{ form.remember_me(class_="form-check-input") }} {{ form.remember_me.label(class_="form-check-label") }}
    </div>
    {{ form.submit(class_="btn btn-primary") }}
    {{ form.hidden_tag() }}
  </form>
</div>

{% endblock %}
