{% extends "base.html" %}


{% block title %}
	| Sign-Up
{% endblock %}


{% block main %}

<div>

  <h3>Sign-Up</h3>

  <form name="registerform" action="" method="POST" novalidate>

    {{ form.hidden_tag() }}

    <div class="form">
          
      <div class="form-vert">
        {{ form.username.label(class_="form-label") }}
        {{ form.username(class_="form-control") }}
        {% for error in form.username.errors %}
          <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </div>
          
      <div class="form-vert">
        {{ form.password.label(class_="form-label") }}
        {{ form.password(class_="form-control") }}
        {% for error in form.password.errors %}
          <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </div>
          
      <div class="form-vert">
        {{ form.confirm.label(class_="form-label") }}
        {{ form.confirm(class_="form-control") }}
        {% for error in form.confirm.errors %}
          <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </div>
          
      <div class="form-vert">
        {{ form.submit(class_="btn btn-primary") }}
      </div>
    
    </div>

  </form>

</div>

{% endblock %}
