<style>
  #group_input {
    display: none;
  }  
</style>

<form name='addwalletform' action="" method="POST">
  
  {{ form.hidden_tag() }}

  <div class='form'>

    <div class='form-vert'>

      <div class='form-horiz'>
        <span class='input-group'>
          <div class="input-group-prepend">
            {{ form.group.label(class_="input-group-text") }}
          </div>
          {{ form.group(class_="form-control") }}
        </span>
      </div>

      <div class='form-horiz' id='group_input'>
        {{ form.group_new(class_="form-control") }}
      </div>

    </div>

    <div class='form-vert'>
      
      <div class='form-horiz'>
        <span class='input-group'>
          <div class="input-group-prepend">
            {{ form.name.label(class_="input-group-text") }}
          </div>
          {{ form.name(class_="form-control") }}
        </span>
      </div>
      
      <div class='form-horiz'>
        <span class='input-group'>
          <div class="input-group-prepend">
            {{ form.amount.label(class_="input-group-text") }}
          </div>
          {{ form.amount(class_="form-control") }}
        </span>
        {{ form.submit(class_="btn btn-secondary") }}
      </div>

    </div>

  </div>

  <div>
    {% for error in form.hidden_tag.errors %}
      hidden: <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
    {% for error in form.group.errors %}
    group: <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
    {% for error in form.group_new.errors %}
      group_input: <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
    {% for error in form.name.errors %}
      name: <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
    {% for error in form.amount.errors %}
      amount: <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </div>

</form>

<script>
  
  const group_select = document.querySelector('#group');
  const group_input = document.querySelector('#group_input');
  
  // hide group_input
  function hide_group_input() {
    if (group_select.value == 'New') {
      group_input.style.display = 'block';
    }
    else {
      group_input.style.display = 'none';
    }
  }
  hide_group_input();

  // grey out None and New types
  function grey_groups() {
    if (group_select.value == "" || group_select.value == "New") {
      group_select.style.color = '#6c757d';
      group_select.style.fontStyle = 'italic';
    }
    else {
      group_select.style.color = 'black';
      group_select.style.fontStyle = 'normal';
    }
  }
  grey_groups();

  group_select.addEventListener('change', function() {
    hide_group_input();
    grey_groups();
  });
</script>
