<form name="mainform" action="" method="POST">

  {{ form.hidden_tag() }}

  <div class="form">

    <div class="form-horiz btn-group" role="group" aria-label="Select action">
      {% for subfield in form.action %}
        {{ subfield(class_="btn-check") }}
        {{ subfield.label(class_="btn btn-secondary shadow-none") }}
      {% endfor %}
    </div>
    
    <div class="form-horiz">

      <span id="mainform-source" class="input-group">
        {{ form.source.label(class_="input-group-text") }}
        {{ form.source(class_="form-control") }}
      </span>

      <span id="mainform-destination" class="input-group">
        {{ form.destination.label(class_="input-group-text") }}
        {{ form.destination(class_="form-control") }}
      </span>
    
    </div>

    <div class="form-horiz">
      {{ form.amount(class_="form-control") }}
      {{ form.description(class_="form-control") }}
      {{ form.submit(class_="btn btn-secondary") }}
    </div>

  </div>

  <div>
    {% for error in form.hidden_tag.errors %}
      hidden: <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
    {% for error in form.source.errors %}
      source: <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
    {% for error in form.destination.errors %}
      dest: <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
    {% for error in form.amount.errors %}
      amount: <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
    {% for error in form.description.errors %}
      descr: <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </div>
    
</form>

<script>

  // show/hide form fields
  document.forms['mainform'].addEventListener('click', function() {
    let select = document.forms['mainform'].action;
    if (select.value == 'Spending') {
      document.querySelector('#mainform-source').hidden = false;
      document.querySelector('#mainform-source').style.marginRight = '0';
      document.querySelector('#mainform-destination').hidden = true;
    }
    else if (select.value == 'Income') {
      document.querySelector('#mainform-source').hidden = true;
      document.querySelector('#mainform-source').style.marginRight = '0';
      document.querySelector('#mainform-destination').hidden = false;
    }
    else { // 'transfer'
      document.querySelector('#mainform-source').hidden = false;
      document.querySelector('#mainform-source').style.marginRight = '5px';
      document.querySelector('#mainform-destination').hidden = false;
    }
  });

  // select 'spending' as default
  document.forms['mainform'].action.item(0).click();

</script>
