<form name="mainform" action="" method="POST">

  {{ form.hidden_tag() }}

  <div class="form">

    <div class="form-horiz btn-group btn-group-toggle" role="group" data-toggle="buttons" aria-label="select-form">
    {% for subfield in form.action %}
      <label class="btn btn-secondary shadow-none">
        {{ subfield }}
        {{ subfield.label }}
      </label>
    {% endfor %}
    </div>
    
    <div class="form-horiz">

      <span id="mainform-source" class="input-group">
        <div class="input-group-prepend">
          {{ form.source.label(class_="input-group-text") }}
        </div>
        {{ form.source(class_="form-control") }}
      </span>

      <span id="mainform-destination" class="input-group">
        <div class="input-group-prepend">
          {{ form.destination.label(class_="input-group-text") }}
        </div>
        {{ form.destination(class_="form-control") }}
      </span>
    
    </div>

    <div class="form-horiz">
      {{ form.amount(class_="form-control") }}
      {{ form.description(class_="form-control") }}
      {{ form.submit(class_="btn btn-secondary") }}
    </div>

  </div>

  <div>
    {% for error in form.hidden_tag.errors %}
      hidden: <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
    {% for error in form.source.errors %}
      source: <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
    {% for error in form.destination.errors %}
      dest: <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
    {% for error in form.amount.errors %}
      amount: <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
    {% for error in form.description.errors %}
      descr: <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </div>
    
</form>

<script>

  // input timestamp on form submit
  // document.forms['mainform'].addEventListener('submit', function() {
  //   document.forms['mainform'].timestamp.value = getLocalTime();
  // });


  // show/hide form fields
  document.forms['mainform'].addEventListener('click', function() {
    let select = document.forms['mainform'].action;
    if (select.value == 'spending') {
      document.querySelector('#mainform-source').hidden = false;
      document.querySelector('#mainform-source').style.marginRight = '0';
      document.querySelector('#mainform-destination').hidden = true;
    }
    else if (select.value == 'income') {
      document.querySelector('#mainform-source').hidden = true;
      document.querySelector('#mainform-source').style.marginRight = '0';
      document.querySelector('#mainform-destination').hidden = false;
    }
    else { // 'transfer'
      document.querySelector('#mainform-source').hidden = false;
      document.querySelector('#mainform-source').style.marginRight = '5px';
      document.querySelector('#mainform-destination').hidden = false;
    }
  });

  // select 'spending' as default
  document.forms['mainform'].action.item(0).click();

</script>
