<div class="mainform card">

  <form name="mainform" action="/mainform" method="POST">  
    
    {{ mf.hidden_tag() }}
    
    <div class="mainform-select btn-group btn-group-toggle" role="group" data-toggle="buttons" aria-label="select-form">
      
      {% for subfield in mf.action %}
        <label class="btn btn-secondary shadow-none">
          {{ subfield }}
          {{ subfield.label }}
        </label>
      {% endfor %}

    </div>
    
    <div class="mainform-body">
      
      <div class="mainform-body-top">

        <div id="mainform-source" class="input-group">
          <div class="input-group-prepend">
            {{ mf.source.label(class_="input-group-text") }}
          </div>
          {{ mf.source(class_="form-control") }}
        </div>

        <div id="mainform-destination" class="input-group">
          <div class="input-group-prepend">
            {{ mf.destination.label(class_="input-group-text") }}
          </div>
          {{ mf.destination(class_="form-control") }}
        </div>

        {{ mf.amount(class_="form-control") }}

      </div>

      <div>
        {{ mf.description(class_="form-control") }}
        {{ mf.submit(class_="btn btn-primary") }}
      </div>
      
    </div>

    <div>
      
      {% for error in mf.hidden_tag.errors %}
        hidden: <span style="color: red;">[{{ error }}]</span>
      {% endfor %}

      {% for error in mf.source.errors %}
        source: <span style="color: red;">[{{ error }}]</span>
      {% endfor %}

      {% for error in mf.destination.errors %}
        dest: <span style="color: red;">[{{ error }}]</span>
      {% endfor %}

      {% for error in mf.amount.errors %}
        amount: <span style="color: red;">[{{ error }}]</span>
      {% endfor %}

      {% for error in mf.description.errors %}
        descr: <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
      
    </div>
    
  </form>

</div>



<script>
  
  // add leading zeros
  function lz(n) {
    if (n <= 9) {
      return "0" + n;
    }
    return n;
  }
  

  // add leading zeros to miliseconds
  function lzms(n) {
    if (n <= 9) {
      return "00" + n;
    }
    else if (n <= 99) {
      return "0" + n;
    }
    return n;
  }  
  

  // input timestamp on form submit
  document.forms['mainform'].addEventListener('submit', function() {
    let date = new Date()
    document.forms['mainform'].timestamp.value = date.getFullYear() + "-" + 
                                                 lz(date.getMonth() + 1) + "-" + 
                                                 lz(date.getDate()) + "_" +
                                                 lz(date.getHours()) + "-" + 
                                                 lz(date.getMinutes()) + "-" + 
                                                 lz(date.getSeconds()) + "_" +
                                                 lzms(date.getMilliseconds());    
  });


  // show/hide form fields
  document.forms['mainform'].addEventListener('click', function() {
    let select = document.forms['mainform'].action;
    if (select.value == 'spending') {
      document.querySelector('#mainform-source').hidden = false;
      document.querySelector('#mainform-destination').hidden = true;
    }
    else if (select.value == 'income') {
      document.querySelector('#mainform-source').hidden = true;
      document.querySelector('#mainform-destination').hidden = false;
    }
    else { // 'transfer'
      document.querySelector('#mainform-source').hidden = false;
      document.querySelector('#mainform-destination').hidden = false;
    }
  });

  // select 'spending' as default
  document.forms['mainform'].action.item(0).click();

</script>
