<form name="spending" id="f_spend" action="" method="POST">  
  {{ forms.sp.hidden_tag() }}
  <div class="container">
    <div class="row justify-content-center">      
      <div class="col-sm">
        <div class="row">    
          <div class="col-auto">          
            {{ forms.sp.sp_source(class_="form-control") }}
            {% for error in forms.sp.sp_source.errors %}
              <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
          </div>          
          <div class="col">
            {{ forms.sp.sp_amount(class_="form-control") }}
            {% for error in forms.sp.sp_amount.errors %}
              <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="col-sm">        
        <div class="row">        
          <div class="col">
            {{ forms.sp.sp_description(class_="form-control") }}
            {% for error in forms.sp.sp_description.errors %}
              <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
          </div>        
          <div class="col-auto">
            {{ forms.sp.sp_submit(class_="btn btn-primary") }}
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<script>
  function lz(n) {
    // add leading zeros
    if (n <= 9) {
      return "0" + n;
    }
    return n;
  }
  function lzms(n) {
    // add leading zeros to miliseconds
    if (n <= 9) {
      return "00" + n;
    }
    else if (n <= 99) {
      return "0" + n;
    }
    return n;
  }  
  document.forms['spending'].addEventListener('submit', function() {
    // input timestamp
    let date = new Date()
    document.forms['spending'].sp_timestamp.value = date.getFullYear() + "-" + 
                                                    lz(date.getMonth() + 1) + "-" + 
                                                    lz(date.getDate()) + "_" +
                                                    lz(date.getHours()) + "-" + 
                                                    lz(date.getMinutes()) + "-" + 
                                                    lz(date.getSeconds()) + "_" +
                                                    lzms(date.getMilliseconds());    
  });
</script>
