<form name="transfer" action="" method="POST">  
  {{ forms.tr.hidden_tag() }}
  <div class="container">    
    <div class="row justify-content-center">    
      <div class="col-sm">
        <div class="row">
          <div class="col-auto">            
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text">From</div>
              </div>
              {{ forms.tr.tr_source(class_="form-control") }}
            </div>
          </div>
          <div class="col-auto">
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text">To</div>
              </div>
              {{ forms.tr.tr_destination(class_="form-control") }}
            </div>
          </div>
          <div class="col">
            {{ forms.tr.tr_amount(class_="form-control") }}
          </div>
        </div>
      </div>    
      <div class="col-sm">
        <div class="row">
          <div class="col">
            {{ forms.tr.tr_description(class_="form-control") }}
          </div>          
          <div class="col-auto">
            {{ forms.tr.tr_submit(class_="btn btn-primary") }}
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
